<h4>Hi, <%= @user.email %><h4>
<p>Congratulations, you have won the <%= number_to_currency(rand(10..30)) %> Wishpond Gift Card in our Monthly Prize contest!</p>
<p>If you have any questions, just email us at shopper@gmail.com – we are happy to help!</p>