<div class="b-example-divider b-example-vr overflow-auto position-relative"></div>
  <div style="float:left;width:250px" class="flex-shrink-0 p-3 bg-white position-relative">
      <span class="fs-5 fw-semibold d-flex items-center">Filter</span>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          Categories
        </button>
        <div class="collapse show" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <% Category.all.each do |category| %>
              <li class="nav-item"> 
                <%=link_to category.title, category, class: "link-dark d-inline-flex text-decoration-none rounded" %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
